<nav class="hamburger-menu">
    <div class="hamburger-menu__wrapper">
        <input type="checkbox"/>
        <div class="hamburger-menu__button">
            <img src="/assets/menu-icon.svg"/>
        </div>
        <div class="hamburger-menu__slider">
            <ul>
                <li><a href="/">Practical AI</a></li>
                <li>
                    <a href="/#how_we_work">How we work</a>
                    <ul>
                        <li><a href="/#workshops">Workshops</a></li>
                        <li><a href="/#reports">Reports</a></li>
                        <li><a href="/#prototypes">Prototypes</a></li>
                        <li><a href="/#integration">Integration</a></li>
                    </ul>
                </li>
                <li><a href="/example_object_recognition">Examples</a></li>
                <li>About Us</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</nav>